<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat GdeMolchat</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="container">
        <h1>Chat GdeMolchat</h1>
        <p class="info"></p>
    </div>

    <div class="container">
        <div class="login">
            <h2>Зайдите на сайт</h2>
            <div class="user">
                
                <input id="input" type="text" placeholder="Ваше имя">
                <input id="authButton" type="submit" value="Войти в чат">
            </div>
        </div>

        <div class="messages">
            <div class="minicontainer">
                <h2>Чатик-молчатик</h2>
                <img src="https://cdn-icons-png.flaticon.com/512/2546/2546705.png" alt="обновить">
            </div>

            <div class="messages-send">
                <input id="input" type="text"  placeholder="Сообщение">
                <input id="msgButton" type="submit" value="Отправить">
            </div>
            <div class="mesages-list">

            </div>

        </div>
    </div>


    <script src="../static/app.js"> </script>

</body>

</html>